* {
  box-sizing: border-box;
}

body {
  width: auto;
  background-color: burlywood;
  margin: 0;
}

:root {
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "map"
    "events"
    "contact";
  gap: 10px;
  max-width: 100%;
}

@media only screen and (max-width: 1920px) {
  #logo {
    max-width: 1920px;
    max-height: fit-content;
  }
}

@media only screen and (max-width: 1200px) {
  #logo {
    max-width: 1200px;
    max-height: fit-content;
  }

  #navigation ul {
    margin-right: 10px;
    gap: 20px;
  }

  a {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: aqua;
  }
  #navigation ul {
    margin-right: 5px;
    gap: 10px;
  }

  a {
    font-size: 24px;
  }

  #logo {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 300px) {
  body {
    background-color: red;
  }
  #logo {
    max-width: 300px;
    max-height: 100px;
  }
  a {
    font-size: 18px;
  }
}

.navmenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo nav";
  background-color: white;
  color: black;
  padding: 10px 0;
}

#logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px;
  margin-right: 20px;
}

#logo img {
  max-width: 100%;
  height: auto;
}

.navigation ul {
  grid-area: nav;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 65px;
  margin-right: 100px;
  gap: 50px;
}

.navtext {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: Birthstone;
  font-size: 46px;
  color: #a8534b;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.navtext li a:hover {
  color: rgb(39, 89, 250);
  text-decoration: underline;
}

#toggleHeaderBtn {
  display: flex;
  flex: start;
  padding: 10px 20px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#toggleHeaderBtn:hover {
  background-color: #d3d3d39d;
}

.mapinfo {
  margin-top: 10px;
  margin-bottom: 0px;
}

#map {
  margin-top: 0px;
  border: 20px;
  border-radius: 20px;
  border-width: 10px;
}

.events {
  display: grid;
  grid-template: events;
  grid-template-areas:
    "info info info"
    "easter valborg nationalday";
}

.events h1 {
  font-size: 60px;
}

.events p {
  font-size: 30px;
}

#info {
  grid-area: info;
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
}

#easter {
  grid-area: easter;
}

#valborg {
  grid-area: valborg;
}

#nationalday {
  grid-area: nationalday;
}
