* {
  box-sizing: border-box;
}

body{
  width: 2600px;
  background-color:burlywood;
}

:root {
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "map"
    "description"
    "contact";
  gap: 10px;
}

@media only screen and (max-width: 2600px) {
  #logo {
    max-width: 2600px;
    max-height: fit-content;
  }
}

@media only screen and (max-width: 1200px) {
  #logo {
    max-width: 1200px;
    max-height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: aqua;
  }
  #logo {
    max-width: 600px;
    max-height: fit-content;
  }
}

@media only screen and (max-width: 300px) {
  body {
    background-color: red;
  }
  #logo {
    max-width: 300px;
    max-height: 100px;
  }
}

.navmenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo nav";
}

#logo {
  grid-area: logo;
  display: grid;
  justify-content: start;
  margin-left: 20px;
}

#navigation ul{
  grid-area: nav;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 65px;
  margin-right: 100px;
  gap: 50px;
}

#navtext {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: Birthstone;
  font-size: 46px;
  color: #a8534b;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

a:hover {
  color: rgb(39, 89, 250);
  text-decoration: underline;
}
