* {
  box-sizing: border-box;
}

* img {
  border-radius: 10px;
}

:root {
  font-size: 16px;
  --bg: #f1dec5;
  --txtclr: #a5433a;
  --contacttxt: #ffffff;
  --contactclr: #61523f;
}

body {
  background-color: var(--bg);
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "map"
    "events"
    "contact";
  gap: 10px;
  text-align: center;
  color: var(--txtclr);
}

body,
.container {
  max-width: 100%;
}

#hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--txtclr);
}

@media (min-width: 1200px) {
  .navmenu {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation ul {
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .container {
    display: grid;
    grid-template-areas:
      "header"
      "map"
      "events"
      "contact";
    gap: 10px;
    text-align: center;
    color: var(--txtclr);
  }

  #hamburger {
    display: block;
    font-size: 75px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--txtclr);
  }

  .navigation {
    width: 100%;
  }

  .navtext {
    display: none;
  }

  .navtext a {
    display: none;
  }

  .navtext.show {
    display: flex !important;
  }

  #logo img {
    content: url("../img/pizzaicon.webp");
    max-width: 100px;
    height: auto;
  }

  .navmenu {
    flex-direction: row;
    align-items: flex-start;
  }

  .navtext li {
    width: 100%;
    text-align: left;
    padding: 5px 0;
  }

  .events {
    display: grid;
    grid-area: events;
    grid-template-columns:
      "info"
      "easter"
      "valborg"
      "nationalday";
  }

  #info {
    display: grid;
    grid-column: info;
  }

  #easter {
    display: grid;
    grid-column: easter;
  }

  #valborg {
    display: grid;
    grid-column: valborg;
  }

  #nationalday {
    display: grid;
    grid-column: nationalday;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  .contact {
    text-align: center;
  }

  a {
    font-size: 1.2rem;
  }

  .events h2,
  .events h3,
  .contact h2 {
    font-size: 1.5rem;
  }

  .events p,
  .contact p {
    font-size: 0.9rem;
  }
}

.navmenu {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo nav";
  background-color: white;
  color: black;
  padding: 10px 0;
}

#logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px;
  margin-right: 20px;
}

#logo img {
  max-width: 100%;
  height: auto;
}

.navigation ul {
  grid-area: nav;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 65px;
  margin-right: 100px;
}

.navtext {
  list-style-type: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.navtext.show {
  display: flex;
}

.navtext a {
  text-decoration: none;
  font-size: 40px;
  color: var(--txtclr);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.navtext li a:hover {
  color: rgb(39, 89, 250);
  text-decoration: underline;
}

#toggleHeaderBtn:hover {
  background-color: #d3d3d39d;
}

.mapinfo {
  margin-left: 100px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapinfo,
h1 {
  margin: 10px 0px;
  font-size: 35px;
}

.mapinfo,
p {
  font-size: 25px;
}

.events {
  width: 100%;
  display: grid;
  grid-area: events;
  grid-template-areas:
    "info info info"
    "easter valborg nationalday";
  gap: 0px;
  justify-items: center;
  align-items: start;
  margin-bottom: 30px;
}

.events h2 {
  font-size: 60px;
}

.events h3 {
  font-size: 45px;
}

.events p {
  font-size: 30px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#info {
  grid-area: info;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 90%;
  background-color: white;
  border-radius: 30px;
}

#easter #valborg #nationalday {
  width: 100%;
  max-width: 600px;
}

#easter {
  grid-area: easter;
  background-color: white;
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 20px;
  justify-content: center;
}

#valborg {
  grid-area: valborg;
  background-color: white;
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 20px;
  justify-content: center;
}

h2 #valborg {
  font-size: 40px;
}

#nationalday {
  grid-area: nationalday;
  background-color: white;
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 20px;
  align-items: center;
}

.contact {
  grid-area: contact;
  background-color: var(--contactclr);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 30px;
  text-align: flex-start;
  gap: 10px;
}

.contact h2 {
  font-size: 50px;
}

.contact p {
  font-size: 25px;
}

.contact h2,
.contact p {
  color: var(--contacttxt);
}
